body {
    background-color: #bdbdbd;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
    background-color: burlywood;
    border-color: gray;
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: bisque;
    margin-left:0px;
}


.color-box {

    width: 200px;
    height: 100px;
    background-color: #499155;
    margin-left:0px;
    border-radius: 10px;
    color: #ffffff;
    padding-left: 20px;
    padding-top: 30px;
}
